{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1 class="titleProject">{{ project.name}}</h1>
        <div class="main">
            <p>{{ project.description }}</p>
            <ul>
                <li>
                    <b>Dates :</b> {{ project.startDate ? project.startDate|date('d-m-Y') : '' }} <i class="fas fa-arrow-alt-circle-right"></i> {{ project.endDate ? project.endDate|date('d-m-Y') : '' }}
                </li>
                <li><b>Lien :</b><a href="{{ project.url }}">{{ project.url }}</a></li>
                <li><b>Client :</b><a href="{{ project.customer.url }}">{{ project.customer }}</a></li>
                <li>
                    <b>Outils :</b>
                    {% for tool in project.tools %}
                        <img class="tool" src="{{ asset(tool.imageUrl) }}" alt="{{ tool.name }}"/>
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% for image in project.gallery %}
            <div class="main">
                <div class="imageProject">
                    <img src="{{ asset(image.url) }}" alt="{{ image.name }}"/>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('project_index') }}">back to list</a>
    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
    {{ include('project/_delete_form.html.twig') }}
{% endblock %}